<app-data-table
  tableId="dealer-ledger"
  title="Dealer Ledger Entries"
  trackByKey="id"
  emptyStateMessage="No ledger entries match the current filters."
  [columns]="columns"
  [data]="rows()"
  [loading]="loading()"
  [initialPageSize]="initialPageSize"
>
  <ng-template dataTableCell="docDate" let-row>
    <span [title]="$any(row).docDate">{{ $any(row).docDate | date }}</span>
  </ng-template>
  <ng-template dataTableCell="debitAmount" let-row>
    <span title="Amount debited in this transaction">{{ $any(row).debitAmount | currency: $any(row).currency }}</span>
  </ng-template>
  <ng-template dataTableCell="creditAmount" let-row>
    <span title="Amount credited in this transaction">{{ $any(row).creditAmount | currency: $any(row).currency }}</span>
  </ng-template>
  <ng-template dataTableCell="amt" let-row>
    <span title="Running amount for this dealer as of this transaction">{{ $any(row).amt | currency: $any(row).currency }}</span>
  </ng-template>
</app-data-table>
